.navbar {
  display: flex;
  align-items: center;
  color: rgb(251, 205, 38);
  background-color: rgb(250, 143, 4);
}

.nav-element {
  position: relative;
  left: 75%;
}

#navName {
  position: relative;
  left: 50%;
  font-size: 200%;
  font-weight: 700;
}
